body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
}
.container {
    width: 400px;
    margin: 40px auto;
    background: #fff;
    padding: 24px 32px 32px 32px;
    border-radius: 10px;
    box-shadow: 0 0 8px #bdbdbd;
}
.flash {
    padding:8px;
    margin-bottom:10px;
    border-radius:3px;
}
.flash.success { background: #e0ffec; color: #238b48; }
.flash.danger  { background: #ffdede; color: #a32a2a; }
.flash.info    { background: #e6f3ff; color: #24618b; }
