<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogIn Page</title>
  </head>
  <body>
    <h1>Welcome to the LogIn Page</h1>
    <form method="post" action="/submit">
      <label>Username</label>
      <input
        type="text"
        name="username"
        placeholder="Enter your name"
        required
      />
      <br />
      <br />
      <label>Password</label>
      <input
        type="text"
        name="password"
        placeholder="Enter your password"
        required
      />
      <br />
      <br />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
